package config

const CrowdPrefix = "Basic "
const CrowdURL string = ""
const CrowdToken string = ""

const AccessLogLocation string = "log/access.log"
const ClientRegistryLocation string = "clients.db"
const AccessControlPolicy string = "*"