package config

const AuthURL string = "SECRET_SERVER"
const AuthPrefix string = "Basic "
const RecruiterToken string = "SECRET_RECRUITER_TOKEN"

const AccessLogLocation string = "log/access.log"
const ClientRegistryLocation string = "clients.db"
const AccessControlPolicy string = "*"